body {
    text-align: center;
}

.image {
    height: 300px;
    width: 200px;
}

.item-container {
   border-style: solid;
   padding: 10px;
}

.edit {
    padding: 10px;
}

.delete {
    padding: 10px;
}

ul {
    list-style: none;
}