body {
    text-align: center;
    position: relative;
}

#wrapper {
    background-color: rgb(228, 240, 245);
}

.image {
    height: auto;
    width: 25%;
}

.image:hover {
    transform: scale(1.5);
}

.item-container {
   border-style: solid;
   background-color: white;
   width: 50%;
   display: inline-block;
   padding: 10px;
}

.item-big-container {
    text-align: center;
    width: 100%;
}

.edit {
    padding: 10px;
}

.delete {
    padding: 10px;
}

ul {
    list-style: none;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav-li {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-li a:hover {
    background-color: #111;
  }

.new-item {
    margin-bottom: 15px;
}

.hidden {
    display: none;
    background-color: white;
}

.overlay {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
    overflow-y: auto;
  }

  .close-modal {
    margin-top: 30px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  
    background-color: white;
    padding: 2rem;
    /* border-radius: 5px; */
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .cat-dropdown {
      color: white;
      margin-bottom: 15px;
  }

 
